@import url('https://fonts.googleapis.com/css?family=Poppins:200i,400&display=swap');

#header{
    position: fixed;
    top: 0;
    left: 0;
    background-color: royalblue;
    color: white;
    font-family: 'Poppins', sans-serif;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
    margin-left: 20px;
    margin-right: 20px;
}
.box-container {
    margin: auto;
    background-color: mediumvioletred;
    border-radius: 80px;
    width: 700px;
    height: 100px;
    border-style: solid;
    border-width: 5px;
    border-color: white;
    text-align:justify;
    float: left;
    white-space: nowrap;
    display: flex;
}
#header-img {
    object-fit: cover;
    width: 100px;
    height: 100px;
    border-radius: 100px;
}
.flexbox {
    display: flex;
}
nav {
    margin: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 50px;
}
nav > ul {
    width: 35vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
}
@media (max-width: 650px) {
nav > ul {
     flex-direction: column;
  }
}
.background-image {
    margin: 20px;
    padding: 20px;
    border-radius: 100px;
    background: url(https://img.freepik.com/free-photo/endless-metal-tunnel-with-neon-lights_250994-742.jpg?w=900) fixed center;
    background-image: url(https://img.freepik.com/free-photo/endless-metal-tunnel-with-neon-lights_250994-742.jpg?w=900);
    background-attachment: fixed;
    background-position: center;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    border-style: solid;
    border-width: 5px;
    border-color: white;
}
#nav-bar {
    background-color: transparent;
    display: flex;
    margin: auto;
 }
.nav-link {
    padding: 25px;
    margin: 20px;
    background-color: mediumvioletred;
    border-radius: 100px;
    display: flex;
    background-size: cover;
    white-space: nowrap;
    display: inline-block;
    border-style: solid;
    border-width: 5px;
    border-color: white; 
    color: white;   
}
#reserve-yours-now {
    margin-top: 500px;
    width: 400px;
    height: 600px;
    background-color: mediumvioletred;
    border-radius: 100px;
    border-style: solid;
    border-width: 5px;
    border-color: white;
    display: flex;
    margin: auto;
    padding: 20px;
    align-items: center;
    justify-content: center;
    text-align: center;
    justify-items: center;
    flex-direction: column;
}
#form {
    margin: auto;
    display: flex;
    flex-direction: column;
}
#email {
    width: 300px;
}
#submit {
    width: 150px;
    height: 50px;
    border-radius: 75px;
    margin: auto;
    background-color: royalblue;
    border-style: solid;
    border-width: 5px;
    border-color: white;
}
.product-img {
    object-fit: cover;
    width: 150px;
    height: 150px;
    border-radius: 75px;
 }
.product {
    background-color: mediumvioletred;
    width: 250px;
    height: 400px;
    margin: 20px;
    padding: 20px;
    border-radius: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    justify-items: center;
    border-style: solid;
    border-width: 5px;
    border-color: white;
 }
#body {
    padding-top: 120px;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4;
    color: white;
    background-color: royalblue;
}
#video {
    display: flex;
    margin: auto;
}
#pricing {
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.btn{
    width: 150px;
    height: 75px;
    border-radius: 75px;
    margin: auto;
    background-color: royalblue;
    border-style: solid;
    border-width: 5px;
    border-color: white;
    font-family: 'Poppins', sans-serif;
    color: white;
}
.flex-container {
    display: flex;
}
/* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
